#new-course {
  height: calc(100vh - 70px);
  padding: 100px 0;
  background-image: url(../imgs/BG\ -\ Slides\ -\ FISIO\ RAUL\ -\ blue\ liso.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#course-container{
    width: 80%;
    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#course-container button{
    cursor: pointer;
    font-size: 22px;
    width: 50%;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color:#FFA200 ;
    color: black;
}



#course-container img{
    width: 60%;
}

@media (max-width:768px){
    #course-container img{
        width: 90%;
    }
}
